.img {
    background-image: url("../public/images/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: -1;
    border-bottom-left-radius: 80px;
}
.out{
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: 1px #1B1C57;
    color: white;
}

.subscribe{
    background-image: url("../public/images/subscribe.png");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    border-radius: 32px;
}